.header{
  padding-left: 14px;
  padding-right: 14px;
  display: flex;
  flex-direction: row;
  gap: 14px;
  width: 100%;
  background: var(--gray-6);
  height: 60px;
  align-items: center;

  .logo{
    height: 30px;
    object-fit: contain;
  }
  .navs{
    display: flex;
    align-items: center;
    gap: 14px;
  }
}


@media screen and (min-width: 1000px) {
}

@media screen and (max-width: 1000px) {
}

@media screen and (max-width: 500px) {
  .header{
    .navs{
      display: none;
    }
  }
}
